@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.App {
  max-width: 375px;
  min-height: 100vh;
  background-color: #f8f8fc;
  border: 1px solid black;
  padding: 54px 24px 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
}
